@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root{
  --body-clr: #f6f9fe;
  --primary-clr: #05555c;
  --primary-light-clr: #eaf3fa;
  --links-clr: #186f78;
  --text-clr: #3f7277;
}

body{
  background: #3fffbf;
}

header{
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;
 
}

header.sticky{
  height: calc(2.5rem + 1rem);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header .brand{
  color: rgba(5, 70, 56, 0.6);
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation{
  position: relative;
}

header .navigation .navigation-items a{
  position: relative;
  color: rgba(4, 41, 1, 0.6);
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:before{
  content: '';
  position: absolute;
  background: #fff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before{
  width: 100%;
}

section{
  padding: 100px 200px;
}

.home{
  position: relative;
  width: 100%;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background:#3fffbf;
}

.home .content{
  z-index: 888;
  color: #fff;
  width: 70%;
  margin-top: 50px;
  display: none;
}

.home h2{
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  color: #fff;
}
.home-subtitle{
  text-align: center;
  color: #fff;
}

@media (max-width: 1040px){
  header{
    padding: 12px 20px;
  }

  section{
    padding: 100px 20px;
  }

  .home .media-icons{
    right: 15px;
  }

  header .navigation{
    display: none;
  }

  header .navigation.active{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a{
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }

  header .navigation .navigation-items a:before{
    background: #222;
    height: 5px;
  }

  header .navigation.active .navigation-items{
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }

  .menu-btn{
    background: url(menu.png)no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-btn.active{
    z-index: 999;
    background: url(close.png)no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  }
}


@media (max-width: 560px){
    .home .content h1{
      font-size: 3em;
      line-height: 60px;
    }
    /*loader*/
  .loader_bg{
    position: fixed;
    z-index: 999999;
    width: 100%;
    height: 100%;
  }
  
  .loader{
    border: 0 solid transparent;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
  }
  
  .loader:before, .loader:after{
    content: '';
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 1s linear infinite;
    opacity: 0;
  }
  
  .loader:before{
    animation-delay: .3s;
  }
  
  @keyframes loader{
    0%{
      transform: scale(0);
      opacity: 0;
    }
    50%{
      opacity: 1;
    }
    100%{
      transform: scale(1);
      opacity: 0;
    }
  }
  }
  
  /*loader*/
  .loader_bg{
    position: fixed;
    z-index: 999999;
    background: rgb(154, 245, 218);
    width: 100%;
    height: 100%;
  }
  
  .loader{
    border: 0 solid transparent;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
  }
  
  .loader:before, .loader:after{
    content: '';
    border: 1em solid hsl(152, 100%, 47%);
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 1s linear infinite;
    opacity: 0;
  }
  
  .loader:before{
    animation-delay: .3s;
  }
  
  @keyframes loader{
    0%{
      transform: scale(0);
      opacity: 0;
    }
    50%{
      opacity: 1;
    }
    100%{
      transform: scale(1);
      opacity: 0;
    }
  }

  /*blog*/
  /* root values */
:root{
    --container-color: #1a1e21;
    --second-color: rgba(77, 228, 255);
    --text-color: #172317;
    --bg-color: #3fff9f;
}

::selection{
    color: var(--body-clr);
    background: var(--second-color);
}

body{
  background-color: #ddf0e9;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

img{
  width: 100%;
}

section{
  padding: 3rem 0 2rem;
}

.container{
  max-width: 1068px;
  margin: auto;
  width: 100%;
}

a{
  color: #fff;
}

.home-text{
  color: var(--bg-color);
  text-align: center;
}

.home-title{
  font-size: 3.5rem;
}

.home-subtitle{
  font-size: 1rem;
  font-weight: 400;
}

.about{
  position: relative;
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.about .contentBx{
  max-width: 50%;
  width: 50%;
  text-align: left;
  padding-right: 40px;
}

.titleText{
  font-weight: 600;
  color: #111;
  font-size: 2rem;
  margin-bottom: 10px;
}

.title-text{
  color: #111;
  font-size: 1em;
  text-align: justify;
}

.about .imgBx{
  position: relative;
  min-width: 50%;
  width: 50%;
  min-height: 500px;
  margin-top: 15vh;
}
.btn2{
  position: relative;
  display: inline-block;
  margin-top: 30px;
  padding: 10px 30px;
  background: #fff;
  border: .8px solid #111;
  color: #333;
  text-decoration: none;
  transition: 0.5s;
}

.btn2:hover{
  background-color: var(--second-color);
  border: none;
  color: #fff;
}

.post-filter{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  margin-top: 2rem !important;
}

.filter-item{
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
}

.active-filter{
  background: var(--second-color);
  color: var(--bg-color);
  padding: 4px 10px;
  border-radius: 4px;
}

.post{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  justify-content: center;
  gap: 1.5rem;
}

.post-box{
  background: var(--primary-light-clr);
  box-shadow: 0 4px 14px hsl(35deg 25% 15% / 10%);
  padding: 15px;
  border-radius: 0.5rem;
}

.post-img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

.category{
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--second-color);
}

.post-title{
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--text-color);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post-date{
  display: flex;
  font-size: 0.875rem;
  text-transform: uppercase;
  margin-top: 4px;
  font-weight: 400;
}

.post-description{
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin: 5px 0 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

}

.profile{
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 2px solid var(--second-color);
}

.profile-name{
  font-size: .8rem;
  font-weight: 500;
}


/*Footer*/
footer{
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background:#3fffbf;
  display: flex;
  font-family: sans-serif;
  justify-content: space-between;
  margin-top:2vh;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.footer-container .sec{
  margin-right: 30px;
}

.footer-container .sec.aboutus{
  width: 40%;
}

.footer-container h2{
  position: relative;
  color: #fff;
  margin-bottom: 15px;
}

.footer-container h2::before{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: rgb(77, 228, 255);
}

footer p{
  color: #fff;
  text-align: justify;
}


.quicklinks{
  position: relative;
  width: 25%;
}

.quicklinks ul li{
  list-style: none;
}

.quicklinks ul li a{
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
  transition: .3s;
}

.quicklinks ul li a:hover{
  color: #000000;
}

.footer-container .contactBx{
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

.contactBx .info{
  position: relative;
}

.contactBx .info li{
  display: flex !important;
  margin-bottom: 16px;
}

.contactBx .info li span:nth-child(1){
  color: #000000;
  font-size: 20px;
  margin-right: 10px;
}

.contactBx .info li span{
  color: #ffffff;
}

.contactBx .info li a{
  color: #ffffff;
  text-decoration: none;
  transition: .5s;
}

.contactBx .info li a:hover{
  color: #000000;
}


@media (max-width: 1060px){
  .container{
      margin: 0 auto;
      width: 95%;
  }

  .home-text{
      width: 100%
  }
}

@media (max-width: 768px){
  .nav{
      padding: 10px 0;
  }

  section{
      padding: 2rem 0 !important;
  }

  .header-content{
      margin-top: 3rem !important;
  }

  .home{
      min-height: 380px;
  }

  .home-title{
      font-size: 3rem;
  }

  .header-title{
      font-size: 2rem;
  }

  .header-img{
      height: 370px;
  }

  .about{
      flex-direction: column;
  }

  .about .contentBx{
      min-width: 100%;
      width: 100%;
      text-align: center;
      padding-right: 0px;
  }

  .about .contentBx,
  .about .imgBx{
      min-width: 100%;
      width: 100%;
      padding-right: 0px;
      text-align: center;
  }

  .about .imgBx{
      min-height: 250px;
  }

  .btn2{
      margin-bottom: 30px;
  }

  .post-header{
      height: 435px;
  }

  .post-header{
      margin-top: 9rem !important;
  }
}

@media (max-width: 570px){
  .post-header{
      height: 390px;
  }

  .header-title{
      width: 100%;
  }

  .header-img{
      height: 340px;
  }
}

@media (max-width: 396px){
  .home-title{
      font-size: 2rem;
  }

  .home-subtitle{
      font-size: 0.9rem;
  }

  .home{
      min-height: 300px;
  }

  .post-box{
      padding: 10px;
  }

  .header-title{
      font-size: 1.4rem;
  }

  .header-img{
      height: 240px;
  }

  .post-header{
      height: 335px;
  }

  .header-img{
      height: 340px;
  }
}

/* Footer Media Query */
@media (max-width: 991px){
  footer{
      padding: 40px;
      font-size: 15px;
  }

  footer .footer-container{
      flex-direction: column;
  }

  footer .footer-container .sec{
      margin-right: 0;
      margin-bottom: 40px;
  }

  footer .footer-container .sec.aboutus{
      width: 100% !important;
  }

  footer .footer-container .quicklinks{
      width: 100%;
  }

  footer .footer-container .contactBx{
      width: 100%;
  }
}